@font-face{
  font-family: 'Inter';
  src: url('./fonts/inter-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Spectral';
  src: url('./fonts/spectral-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root{
  --primary-color: #BEB45A;
  --secondary-color: #E5975F;
  --background-dark: #2c2c2c;
  --font-main: 'Inter', sans-serif;
  --font-accent: 'Spectral', serif;
}
body{
	max-width: 1920px;
	margin: auto;
	scroll-behavior: smooth;
}
* {
	font-family: var(--font-main), Arial, Helvetica, sans-serif;
	font-style: normal;
	box-sizing: border-box;
}
h2{
	font-weight: 500;
}
.menu{
	background-color: white;
	position: fixed;
	top:0;
	width: 100vw;
	z-index: 1100;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
}
.menu__title-name{
	font-size: 26px;
	color: #212529;
	margin: 0;
	font-weight: 500;
}
.menu__nav ul{
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 11px;
	height: 22px;
}
.menu__nav li{
	padding-inline: 10px;
}
.menu__nav a, .menu__title-name a{
	text-decoration: none;
	color: #212529
}
.menu__social-link img{
	width: 20px;
	height: 20px;
	position: relative;
	bottom: 1px;
}
.carousel{
	position:relative;
	margin-top: 100px;
}
.carousel__gallery{
	width: 100vw;
	height: 46vw;
	display: flex;
  	will-change: transform;
}
.carousel__image{
	flex: 0 0 100%;
	height: 100%;
	object-fit: cover;
}
.carousel__bouton-slide{
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin: auto;
	z-index: 1000;
	bottom:calc(50% - 20px);
	left: 10%;
}
.carousel__bouton-menu{
	position: absolute;
	display: flex;
	gap: 5px;
	z-index: 1000;
	bottom: 3.5%;
	left: calc(50vw - 50px);
}
.carousel__bouton{
	width: 30px;
	height: 3px;
	border: none;
}
.carousel__bouton-menu:hover{
	transform: scale(4);
}
.carousel__bouton--actived{
	background: #faea5c;
}
.carousel__prev, .carousel__next{
	border: none;
	background: rgba(1, 1, 1, 0.5);
	height: 40px;
	width: 40px;
	border-radius: 5px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.carousel__prev-svg, .carousel__next-svg{
	color: white;
	opacity: 80%;
}
.carousel__prev-svg:hover, .carousel__next-svg:hover, .modal__prev-svg:hover, .modal__next-svg:hover, .modal__content-bouton-svg:hover{
	opacity: 100%;
	cursor: pointer;
	color: #faea5c;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}
.about__picture::before {
	content: ' ';
	background-color: var(--secondary-color);
	width: 25%;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.about__picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}
.about__picture img {
	width: 100%;

}
#about-me {
	flex: 2
}
.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}
.about-me__introduction strong {
	font-family: var(--font-accent);
	font-weight: 800;
	font-style: italic;
	font-size: 16px;
}
#about-me p {
	width: 80%;
	font-size: 14px;
	text-align: justify;
	font-weight: 400;
}
#gallery{
	display: flex;
	flex-direction: column;
}

.gallery__grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 15px;
	column-gap: 15px;
	margin: auto;
	padding: 16px 12px 16px 12px;
}

.gallery__title{
	text-align: center;
	padding-block: 2em;
	font-size: 1.75rem;
	margin: 0 0 8px 0;
}
.gallery__menu{
	margin-top: 24px;
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.gallery__menu-options{
	width: fit-content;
	height: 40px;
	padding: 8px 16px 8px 16px;
	border: none;
	border-radius: 5px;
	background: none;
	font-size: 16px;
	cursor: pointer;
}
.gallery__menu-options--actived{
	color: black;
	font-weight: 700;
	background: var(--primary-color);
}
.gallery__image{
	width: 30vw;
	height: 30vw;
	object-fit: cover;
	cursor: pointer;
}
.quote, .services__under-quote {
	font-family: var(--font-accent);
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.services__under-quote .quote__text{
	margin: 0 0 24px 0;
}
.quote__text{
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.2;
}
.quote__author{
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services{
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .services__container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .services__container{
	justify-content: space-between;
	display: flex;
	padding : 2em 0;
	margin: auto;
	width: 91.4vw;
}
.services__title{
	text-align: center;
	padding-block: 2em;
	font-size: 28px;
	margin: 0 0 8px 0;
	position: relative;
	z-index: 1;
	background-color: #A8D5D8;
}
.services_card-1, .services_card-2, .services_card-3{
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
.services_card-1 h3, .services_card-2 h3, .services_card-3 h3{
	font-size: 28px;
	font-weight: 500;
	margin: 0 0 8px 0;
}
.services_card-1 h4, .services_card-2 h4, .services_card-3 h4{
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 8px 0;
}
.services_card-1-description p, .services_card-2-description p, .services_card-3-description p{
	font-size: 16px;
	margin-top: 0;
}
.services_card-1-price p, .services_card-2-price p, .services_card-3-price p{
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}
#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

.contact__container {
	display: flex;
}
.contact__picture::before {
	content: ' ';
	background-color: var(--primary-color);
	width: 25%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}
.contact__container-form{
	flex : 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact__container-form form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}
.contact__container-form h2{
	font-size: 1.75rem;
	margin: 0 0 8px 0;
}
.contact__container-form p{
	margin-top: 0;
  	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 400;
}
.contact__container-form label{
	margin-top: 0;
	font-size: 1rem;
	font-weight: 400;
}
.contact__container-form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 3em;
	margin-bottom: 20px;
}

.contact__container-form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.contact__container-form input[type="submit"] {
	background-color: var(--primary-color);
	padding: .5em 1em;
	font-size: 1rem;
	cursor: pointer;
}
.contact__container-form input[type="submit"]:hover {
	color: white;
}

.contact__picture{
	flex: 1;
	margin: 0 20px;
}
.contact__picture img{
	width: 30vw;
	height: 30vw;
	position: relative;
	z-index: 1;
	top: 1vh;
	right: 2vw;
}
.contact__info{
	display: flex;
	gap: 30px;
	width: 100%;
	z-index: 1000;
	position: relative;
	margin-top: 50px;
}
.contact__info a{
	text-decoration: none;
}
.contact__info-cards{
	background-color: white;
	padding: 10px;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.contact__cards-list{
	padding: 0;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}
.contact__cards-list.social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.contact__cards-list.social li:first-child{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.contact__info li{
	color: var(--background-dark);
	list-style-type: none;
	margin: 3px auto;
}
.contact__info h3{
	color: var(--background-dark);
	margin: 5px auto 10px;
	font-size: 16px;
	font-family: var(--font-main);
}
.contact__social-link{
	display: inline-block;
	transition: transform 0.5s ease-in-out;
}
.contact__social-link:hover{
	transform: rotateZ(360deg);
}
.modal{
  width: 650px;
  height: 550px;
  border: none;
  border-radius: 20px;
  background-color: var(--background-dark);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  padding: 0;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1), height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.portrait{
  width: 450px;
  height: 650px;
}
.modal__content{
  position: relative;
  width: 85%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #000;
  box-shadow: inset 0 0 12px #111;
  overflow: hidden;
}
.modal__content-figure{
  margin: 0;
  width: 100%;
  height: 100%;
}
.modal__content-figure-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.modal__content-bouton-close{
  position: absolute;
  top: 15px;
  right: 8px;
  background: transparent;
  border: none;
  color: #ddd;
  font-size: 1.5rem;
  cursor: pointer;
}
#modal::before{
  content: '';
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at center, #555 30%, #111 100%);
  border-radius: 50%;
  box-shadow: inset 0 0 10px #000;
  z-index: 1;
}
#modal::after{
  content: '';
  position: absolute;
  top: 10px;
  right: 20px;
  width: 25px;
  height: 10px;
  background: #eee;
  border-radius: 4px;
  box-shadow: 0 0 8px #fff;
}
.modal__bouton-slide button:hover #modal::after{
	background: #000;
}
.modal__bouton-slide{
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}
.modal__bouton-slide button{
  background: #444;
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px #000;
  position: relative;
}
.modal__content-bouton-svg{
	opacity: 0.5;
}
.modal__prev-svg{
	position: relative;
	top: 2px;
	right: 1px;
}
.modal__next-svg{
	position: relative;
	top: 2px;
	left: 1px;
}
::backdrop{
	background: rgba(1, 1, 1, 0.8);
}
.modal:not([open]) {
  display: none;
}
@media all and (max-width: 1180px) {
	#about{
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h2, #about-me p {
		width: 100%;
	}
	.contact__picture img{
		width: 40vh;
    	height: auto;
    	top: 5vh;
    	left: 1vw;
  	}
	.contact__container-form{
		align-items: start;
	}
	.contact__container-form form{
		width: 100%;
	}
	.contact__container-form h2{
		width: 150%;
	}
}

@media all and (max-width: 1024px) {
	#about{
		flex-direction: column;
	}
	.about__picture, .contact__picture{
		width: 75%;
	}
	.about__picture::before {
		width: 100%;
		height: 40vw;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	.gallery__grid{
	grid-template-columns: 1fr 1fr;
	row-gap: 15px;
	column-gap: 15px;
	margin: auto;
	padding: 16px 12px 16px 12px;
	}
	.gallery__image{
		width: 40vw;
		height: 40vw;
	}
	.quote__text{
		font-size: 2em;;
	}
	.services__container {
		flex-direction: column;
	}
	#services .services__container{
		width: 75%;
	}
	.services_card-1, .services_card-2, .services_card-3{
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.services_card-1-description, .services_card-2-description, .services_card-3-description{
		margin-bottom: 1em;
	}

	#services .services__container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}
	#contact{
		padding-inline: 2em;
		padding-block: 2em;
	}
	.contact__container-form h2{
		width: 400%;
	}
	
}

@media all and (max-width: 768px) {
	.menu {
		flex-direction: column;
		padding-inline: 0;
	}
	.menu__title-name{
		text-align: center;
	}
	.menu__nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.carousel{
		margin-top: 152px;
	}
	.about__picture::before{
		height: 40vw;
	}

	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.contact__picture img{
		top: 0;
		margin: auto;
		left: 20%;
	}
	.contact__picture::before{
		width: 20%;
		height: 70%;
	}
	.contact__container{
		flex-direction: column;
	}
	.contact__info{
		flex-direction: column;
	}
}

@media all and (max-width: 600px){
	html,body{
		overflow-x: hidden;
	}
	.menu__nav li{
		padding-inline: 0;
	}
	.gallery__grid{
	grid-template-columns: 1fr;
	row-gap: 15px;
	column-gap: 15px;
	margin: auto;
	padding: 16px 12px 16px 12px;
	}
	.gallery__image{
		width: 80vw;
		height: 80vw;
	}
	.gallery__menu{
		flex-wrap: wrap;
	}
	.gallery__menu-options{
		width: 80%;
	}
	.quote__text{
		font-size: 1.5em;;
	}
	#services .services__container{
		width: 90%;
    	margin: auto;
	}
	.contact__picture img{
		width: 70vw;
		top: 0;
		left: 5vw;
	}
	.contact__picture::before{
		width: 50%;
		height: 50vw;
	}
	.contact__container-form h2{
		width: 80vw;
	}
	
	.modal{
		width:100%;
		height:50%;
	}
	.modal.portrait{
		width:85%;
		height: 80%;
	}
}
